<div class="calendar-event" [title]="getTime() + ' ' + calendarEvent.title">
  <div class="calendar-event-title">
    {{calendarEvent.title}}
  </div>
  <div class="calendar-event-remove" title="Remove event" (click)="removeEvent(calendarEvent.id)">X</div>
</div>
