.calendar-event {
  background-color: #E2ECF5;
  border-left: 2px solid #6E9ECF;
  padding-left: 4px;
  height: 100%;
  position: relative;
}

.calendar-event-title {
  width: 100%;
  text-overflow: ellipsis;
  font-size: 14px;
  font-family: "Open Sans", serif;
  white-space: nowrap;
  overflow: hidden;
}

.calendar-event-remove {
  display: none;
  position: absolute;
  font-family: "Open Sans", serif;
  font-size: 16px;
  top:0px;
  right: 0px;
  width: 16px;
  height: 16px;
}

.calendar-event:hover .calendar-event-remove {
  display: block;
  cursor: pointer;
  color: red;
}
