<div style="text-align:center">
  <h3>Create event</h3>
  <form #form="ngForm" (ngSubmit)="submit(form, calendarEvent)">
    <input placeholder="title" name="title" [(ngModel)]="calendarEvent.title" [required]="true">
    <br>
    <br>
    <input placeholder="start" name="start" [(ngModel)]="calendarEvent.start" min="0" max="570" pattern="[0-9]{1,3}">
    <br>
    <br>
    <input placeholder="duration" name="duration" [(ngModel)]="calendarEvent.duration" [min]="15" [max]="570" pattern="[0-9]{2,3}">
    <br>
    <br>
    <button type="button" (click)="cancel()">Cancel</button>
    &nbsp;&nbsp;<button type="submit" [disabled]="!form.form.valid">Create</button>
  </form>
</div>
