<div style="text-align:center">
  <h3>Login</h3>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input placeholder="Username" formControlName="username">
    <br>
    <br>
    <input type="password" placeholder="Password" formControlName="password">
    <br>
    <br>
    <button type="submit">Login</button>
  </form>
</div>
