<div style="text-align:center">
  <h1>
    Welcome, {{user$ | async}} .!
  </h1>
  <h2>Here is your day plan : </h2>
  <div class="calendar-evens-board" *ngIf="calendarEvents$ | async as calendarEvents">
    <div *ngFor="let timeOffset of timeOffsets; index as idx"
          [class]="(idx%2 == 0 ? 'calendar-evens-board-hour' : 'calendar-evens-board-half-hour')"
          [style.top.px]="timeOffset.offset * scale">
      <div class="calendar-evens-board-time">{{timeOffset.time}}</div>
    </div>
    <div class="calendar-evens-list">
      <app-calender-event *ngFor="let calendarEvent of calendarEvents"
                          [calendarEvent]="calendarEvent"
                          (click)="select.emit(calendarEvent.id)"
                          [style.top.px]="calendarEvent.start * scale"
                          [style.height.px]="calendarEvent.duration * scale"
                          [style.width.%]="calendarEventsWidth[calendarEvent.id].width * 100"
                          [style.left.%]="(calendarEventsWidth[calendarEvent.id].orderPos-1) * calendarEventsWidth[calendarEvent.id].width * 100">
      </app-calender-event>
    </div>
  </div>
  <div class="calendar-evens-side">
    <div *ngIf="!(calendarEventSelected$ | async)">
      <button (click)="createNewCalendarEvent()"> Create event </button>
      <br> <br>
      <button (click)="exportCalendarEvents()"> Export events </button>
    </div>
    <div class="create-calendar-event-form" *ngIf="calendarEventSelected$ | async as calendarEventSelected">
      <app-calendar-event-form [calendarEvent]="calendarEventSelected"></app-calendar-event-form>
    </div>
  </div>
</div>
