.calendar-evens-board {
  float: left;
  width: 240px;
  height: 570px;
  position: relative;
}

.calendar-evens-list {
  float: left;
  position: relative;
  width: 200px;
  left: 40px;
}

.calendar-evens-board-hour {
  float: left;
  width: 100%;
  position: absolute;
  font-family: "Open Sans", serif;
  font-weight: 200;
  font-size: 16px;
  border-top: 1px solid gray;
  color: grey;
}
.calendar-evens-board-half-hour {
  float: left;
  width: 100%;
  position: absolute;
  font-family: "Open Sans", serif;
  font-weight: 100;
  font-size: 14px;
  color: lightgrey;
  border-top: 1px solid;
  border-top-width: revert;
}
.calendar-evens-board-time {
  float: left;
  width: 40px;
  text-align: right;
}

:host app-calender-event {
  float: left;
  position: absolute;
}

.create-calendar-event-side {
  float: left;
  width: 400px;
}
